openapi: 3.2.0
info:
  title: Total System Services Transactions API
  version: 1.0.0
  description: 'Operations tagged Transactions across 2 of this provider''s published API definitions: tsys-issuing-openapi.yml, tsys-payment-gateway-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://issuing.api.tsys.com/v1
  description: TSYS Issuing Platform Production API
- url: https://api.tsys.com/v1
  description: TSYS Payment Gateway Production API
tags:
- name: Transactions
  description: Card transaction history
paths:
  /cards/{cardId}/transactions:
    get:
      operationId: listCardTransactions
      summary: List Card Transactions
      description: Returns transaction history for a specific card.
      tags:
      - Transactions
      parameters:
      - name: cardId
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        schema:
          type: string
          format: date
        description: Start of date range
      - name: endDate
        in: query
        schema:
          type: string
          format: date
        description: End of date range
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuingTransactionList'
      security:
      - bearerAuth: []
    servers:
    - url: https://issuing.api.tsys.com/v1
      description: TSYS Issuing Platform Production API
  /transactions/sale:
    post:
      operationId: processSale
      summary: Process Sale
      description: Process a combined authorization and capture (sale) transaction. Charges the card immediately for the full transaction amount.
      tags:
      - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleRequest'
      responses:
        '200':
          description: Sale response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.tsys.com/v1
      description: TSYS Payment Gateway Production API
  /transactions:
    get:
      operationId: listTransactions
      summary: List Transactions
      description: Returns a paginated list of transactions for the merchant.
      tags:
      - Transactions
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date
        description: Filter transactions from this date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
        description: Filter transactions through this date
      - name: status
        in: query
        schema:
          type: string
          enum:
          - authorized
          - captured
          - settled
          - voided
          - refunded
          - declined
        description: Filter by transaction status
      - name: cardType
        in: query
        schema:
          type: string
          enum:
          - visa
          - mastercard
          - amex
          - discover
          - debit
        description: Filter by card type
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          maximum: 500
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.tsys.com/v1
      description: TSYS Payment Gateway Production API
  /batches/current:
    get:
      operationId: getCurrentBatch
      summary: Get Current Batch
      description: Returns the current open batch with pending settlement totals.
      tags:
      - Transactions
      responses:
        '200':
          description: Current batch details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.tsys.com/v1
      description: TSYS Payment Gateway Production API
  /batches/current/close:
    post:
      operationId: closeCurrentBatch
      summary: Close Current Batch
      description: Close the current batch and submit it for settlement.
      tags:
      - Transactions
      responses:
        '200':
          description: Batch closed for settlement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.tsys.com/v1
      description: TSYS Payment Gateway Production API
components:
  schemas:
    IssuingTransactionList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/IssuingTransaction'
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
    IssuingTransaction:
      type: object
      properties:
        id:
          type: string
        cardId:
          type: string
        type:
          type: string
          enum:
          - purchase
          - refund
          - cash_advance
          - fee
        status:
          type: string
          enum:
          - pending
          - posted
          - declined
        amount:
          type: number
          format: float
        currency:
          type: string
        merchantName:
          type: string
        merchantCategory:
          type: string
        merchantCity:
          type: string
        merchantCountry:
          type: string
        authorizedAt:
          type: string
          format: date-time
        postedAt:
          type: string
          format: date-time
    Transaction:
      type: object
      properties:
        id:
          type: string
        merchantId:
          type: string
        orderId:
          type: string
        status:
          type: string
          enum:
          - authorized
          - captured
          - settled
          - voided
          - refunded
          - declined
        amount:
          type: number
          format: float
        settledAmount:
          type: number
          format: float
        currency:
          type: string
        cardType:
          type: string
        lastFour:
          type: string
          description: Last four digits of the card number
        authorizationCode:
          type: string
        batchId:
          type: string
        createdAt:
          type: string
          format: date-time
        settledAt:
          type: string
          format: date-time
    Batch:
      type: object
      properties:
        id:
          type: string
        merchantId:
          type: string
        status:
          type: string
          enum:
          - open
          - closed
          - settled
        transactionCount:
          type: integer
        saleTotal:
          type: number
          format: float
        refundTotal:
          type: number
          format: float
        netTotal:
          type: number
          format: float
        openedAt:
          type: string
          format: date-time
        closedAt:
          type: string
          format: date-time
    TransactionList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
    AuthorizationRequest:
      type: object
      required:
      - amount
      - currency
      - card
      - merchantId
      properties:
        merchantId:
          type: string
          description: TSYS merchant ID
        amount:
          type: number
          format: float
          description: Transaction amount
        currency:
          type: string
          default: USD
          description: ISO 4217 currency code
        card:
          $ref: '#/components/schemas/CardData'
        orderId:
          type: string
          description: Merchant-assigned order identifier
        description:
          type: string
        ipAddress:
          type: string
          description: Customer IP address for fraud detection
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        transactionId:
          type: string
    CardData:
      type: object
      description: Card payment credentials
      properties:
        cardNumber:
          type: string
          description: Tokenized card number (PAN token)
        expirationDate:
          type: string
          description: Card expiration date (MMYY format)
        cvv:
          type: string
          description: Card verification value
        cardholderName:
          type: string
        billingAddress:
          type: object
          properties:
            zip:
              type: string
            street:
              type: string
    TransactionResponse:
      type: object
      properties:
        transactionId:
          type: string
        status:
          type: string
        responseCode:
          type: string
        responseMessage:
          type: string
        amount:
          type: number
          format: float
        timestamp:
          type: string
          format: date-time
    SaleRequest:
      allOf:
      - $ref: '#/components/schemas/AuthorizationRequest'
      type: object
      properties:
        captureImmediately:
          type: boolean
          default: true
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-TSYS-API-Key
x-refined-from:
- tsys-issuing-openapi.yml
- tsys-payment-gateway-openapi.yml
