openapi: 3.2.0
info:
  title: TSYS Payment Gateway Inquiries API
  description: TSYS Payment Gateway API for processing credit, debit, and prepaid card transactions. Supports authorization, capture, void, refund, and inquiry operations for card-present (POS) and card-not-present (ecommerce) scenarios. Part of the Global Payments / TSYS payment processing platform.
  version: 1.0.0
  contact:
    name: TSYS Developer Support
    url: https://developers.tsys.com/
servers:
- url: https://api.tsys.com/v1
  description: TSYS Payment Gateway Production API
security:
- apiKeyAuth: []
tags:
- name: Inquiries
  description: Look up transaction status
paths:
  /transactions/{transactionId}:
    get:
      operationId: getTransaction
      summary: Get Transaction
      description: Retrieve the status and details of a specific transaction.
      tags:
      - Inquiries
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
        description: Transaction identifier
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        transactionId:
          type: string
    Transaction:
      type: object
      properties:
        id:
          type: string
        merchantId:
          type: string
        orderId:
          type: string
        status:
          type: string
          enum:
          - authorized
          - captured
          - settled
          - voided
          - refunded
          - declined
        amount:
          type: number
          format: float
        settledAmount:
          type: number
          format: float
        currency:
          type: string
        cardType:
          type: string
        lastFour:
          type: string
          description: Last four digits of the card number
        authorizationCode:
          type: string
        batchId:
          type: string
        createdAt:
          type: string
          format: date-time
        settledAt:
          type: string
          format: date-time
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-TSYS-API-Key
