openapi: 3.2.0
info:
  title: TSYS Payment Gateway Capture API
  description: TSYS Payment Gateway API for processing credit, debit, and prepaid card transactions. Supports authorization, capture, void, refund, and inquiry operations for card-present (POS) and card-not-present (ecommerce) scenarios. Part of the Global Payments / TSYS payment processing platform.
  version: 1.0.0
  contact:
    name: TSYS Developer Support
    url: https://developers.tsys.com/
servers:
- url: https://api.tsys.com/v1
  description: TSYS Payment Gateway Production API
security:
- apiKeyAuth: []
tags:
- name: Capture
  description: Capture authorized transactions
paths:
  /transactions/{transactionId}/capture:
    post:
      operationId: captureTransaction
      summary: Capture Transaction
      description: Capture a previously authorized transaction for settlement.
      tags:
      - Capture
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
        description: The transaction ID from the authorization response
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  format: float
                  description: Amount to capture (must not exceed authorized amount)
      responses:
        '200':
          description: Capture response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        transactionId:
          type: string
    TransactionResponse:
      type: object
      properties:
        transactionId:
          type: string
        status:
          type: string
        responseCode:
          type: string
        responseMessage:
          type: string
        amount:
          type: number
          format: float
        timestamp:
          type: string
          format: date-time
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-TSYS-API-Key
