openapi: 3.2.0
info:
  title: TSYS Payment Gateway Voids API
  description: TSYS Payment Gateway API for processing credit, debit, and prepaid card transactions. Supports authorization, capture, void, refund, and inquiry operations for card-present (POS) and card-not-present (ecommerce) scenarios. Part of the Global Payments / TSYS payment processing platform.
  version: 1.0.0
  contact:
    name: TSYS Developer Support
    url: https://developers.tsys.com/
servers:
- url: https://api.tsys.com/v1
  description: TSYS Payment Gateway Production API
security:
- apiKeyAuth: []
tags:
- name: Voids
  description: Void pending transactions
paths:
  /transactions/{transactionId}/void:
    post:
      operationId: voidTransaction
      summary: Void Transaction
      description: Void an authorized or captured transaction before settlement.
      tags:
      - Voids
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
        description: The transaction ID to void
      responses:
        '200':
          description: Void response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        transactionId:
          type: string
    TransactionResponse:
      type: object
      properties:
        transactionId:
          type: string
        status:
          type: string
        responseCode:
          type: string
        responseMessage:
          type: string
        amount:
          type: number
          format: float
        timestamp:
          type: string
          format: date-time
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-TSYS-API-Key
