openapi: 3.2.0
info:
  title: TSYS Payment Gateway Refunds API
  description: TSYS Payment Gateway API for processing credit, debit, and prepaid card transactions. Supports authorization, capture, void, refund, and inquiry operations for card-present (POS) and card-not-present (ecommerce) scenarios. Part of the Global Payments / TSYS payment processing platform.
  version: 1.0.0
  contact:
    name: TSYS Developer Support
    url: https://developers.tsys.com/
servers:
- url: https://api.tsys.com/v1
  description: TSYS Payment Gateway Production API
security:
- apiKeyAuth: []
tags:
- name: Refunds
  description: Process refunds and credits
paths:
  /transactions/{transactionId}/refund:
    post:
      operationId: refundTransaction
      summary: Refund Transaction
      description: Process a full or partial refund for a settled transaction.
      tags:
      - Refunds
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
        description: The original transaction ID to refund
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  format: float
                  description: Refund amount (partial or full)
                reason:
                  type: string
                  description: Reason for the refund
      responses:
        '200':
          description: Refund response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        transactionId:
          type: string
    TransactionResponse:
      type: object
      properties:
        transactionId:
          type: string
        status:
          type: string
        responseCode:
          type: string
        responseMessage:
          type: string
        amount:
          type: number
          format: float
        timestamp:
          type: string
          format: date-time
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-TSYS-API-Key
